<<<<<<< HEAD
header{
    Background-color:#FF0000;
    height: 70px;
    width:100%;
}

=======
header {
    background-color: #FF0000;
    height: 70px;
    width: 100%;
}
>>>>>>> ce8cdeebae2b38433b1a0e2dde7727f47e1fa48d
